body {
	background-color: #fff;
}

.intro {
	background: rgb(255,203,171);
	padding-bottom:20px;
}

.intro-para {
	display:none;
}

.intro-email{
	position:fixed;
	left:82%;
	z-index:100;
}

.intro-email h2 {
	width:140px;
}


.footer-vid {
	background: rgb(255,203,171);
	background: linear-gradient(0deg, rgba(215,221,255,1) 0%, rgba(255,203,171,1) 90%);
}

.work-nav {
	width: 100%;
	padding-bottom:30px;
	background: rgb(215,221,255);
	position:relative;
	padding-top:0px;
}

.project-intro {
	background: rgb(255,203,171);
	background: linear-gradient(0deg, rgba(215,221,255,1) 0%, rgba(255,203,171,1) 90%);
	padding-bottom:160px;
}

.project-intro video {
    width: 100%;
    height: auto;
	border-radius: 25px;
}

.white {
	background-color: #fff;
	margin-bottom:-6px;
}


.white video {
    width: 100%;
    height: auto;
}

.white-2 {
	background-color: #fff;
		padding-bottom:140px;
}


.white-2 video {
    width: 100%;
    height: auto;
}


.peach {
	background: rgb(255,203,171);
	padding-bottom:140px;
}


.peach video {
    width: 100%;
    height: auto;
}



.blue {
	background:  rgb(215,221,255);
		padding-bottom:140px;
}


.blue video {
    width: 100%;
    height: auto;
}


.project-footer {
	background: rgb(215,221,255);
  visibility: hidden;
}


@media (max-width: 992px) { 
	.intro-email {
		display:none;
	}
	.intro {
		position: relative;
	
}


@media (max-width: 768px) { 
	
	
	.project-intro {
		padding-top:30px;
		padding-bottom:70px;
	}
	
	.intro-para {
		visibility: hidden;
	}
	
	.intro-para1 {
		visibility: hidden;
	}	
	
	.white-2 {
		padding-bottom: 70px;
	}
	
	.peach {
		padding-bottom: 70px;
	}	
	
	.white-2 {
		padding-bottom: 70px;
	}	
	.project-footer {
				background: rgb(255,203,171);
	  visibility: visible;
	}
	

}

@media (max-width: 500px) { 

	
	.project-intro {
		padding-top:10px;
	}
	

	

}




